<!doctype html>
<html lang='en-us'>

<head>
  <title>Error</title>
  <meta charset="utf-8" />
  <meta name="description" content="{{description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{resolveAsset 'favicon.ico'}}" />
  <link rel="stylesheet" href="{{resolveAsset 'bundle.css'}}">
</head>

<body>
  <div class="container">
    <h4><strong>Error:</strong> [{{statusCode}}] <em>{{message}}</em></h4>
    {{#if stack}}
    <pre>{{stack}}</pre>{{/if}}
  </div>
</body>

</html>